.product-card {
  padding: 10px 0 ;
}

.product-card__heading {
  text-align: center;
}

.product-card__content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.product-card__footnote {
  text-align: center;
  color: green;
  font-size: .75em;
  margin-bottom: 0;
  font-weight: bold;
}

.product-property {
  margin-right: 10px;
}

.product-property__label {
  margin-bottom: 5px;
  font-size: .75em;
  display: block;
}